# Define what resources they can access and what actions (verbs) allowed
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: pod-reader
  namespace: dev
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log"]  # ← pods and logs
  verbs: ["get", "list", "watch"]   # ← read-only verbs