apiVersion: v1
kind: PersistentVolume
metadata:
  name: sanctions-data-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data/sanctions
  persistentVolumeReclaimPolicy: Retain
