apiVersion: v1
kind: Service
metadata:
  name: customer-service
  labels:
    app: customer-service
spec:
  type: ClusterIP  # Internal only (pod-to-pod communication)
  selector:
    app: customer-service
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
